.RecordCreationHeader {
	font-family: "Lucia Console"; 
	font-size: 1.0em;
	text-align: center;
	min-width: 40px;
	display: flex;
}

.RecordCreationSelector h2 {
	text-align: center;
	font-family: "Lucia Console";
	min-width: 30px;
	display: flex;
}

.RecordCreationSelector form {
	text-align: center; 
	font-family: "Lucia Console";
}